# Output
/OUTPUT
/OUTPUT/*
/output
/output/*
/data
/data/*
/Figures
/Figures/*
/raw_data
/raw_data/*
vignettes/data/raw_data/LT81_800M
vignettes/data/raw_data/LT81_800M/*

# Mac trash files
.DS_Store
*/.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
yoursession.RData

# RStudio files
.Rproj.user/
.Rproj.user
