# Output
/OUTPUT
/OUTPUT/*
/output
/output/*
/Figures
/Figures/*
/raw_data
/raw_data/*
data-raw/LT81_800M
data-raw/LT81_800M/*
vignettes/data/US_reconst_gdd_7analog.rds
vignettes/data/US_reconst_gdd_7analog.rds/*
vignettes/data/US_reconst_gdd.rds
vignettes/data/US_reconst_gdd.rds/*
vignettes/data/US_reconst_tavg.rds
vignettes/data/US_reconst_tavg.rds/*

# Mac trash files
.DS_Store
*/.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
.RDataTmp1
.RDataTmp2
yoursession.RData

# RStudio files
.Rproj.user/
.Rproj.user
